.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.311035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.283203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.284668;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs0{font-size:36.000008px;}
.fs1{font-size:48.000000px;}
.y0{bottom:-0.500000px;}
.y9{bottom:387.954987px;}
.y8{bottom:389.875000px;}
.y7{bottom:404.125000px;}
.ya{bottom:412.204987px;}
.y6{bottom:601.287659px;}
.y5{bottom:620.500000px;}
.y4{bottom:620.830017px;}
.y3{bottom:637.330017px;}
.y2{bottom:691.000000px;}
.y1{bottom:704.500000px;}
.h2{height:47.039062px;}
.h3{height:47.109375px;}
.h0{height:792.000000px;}
.h1{height:792.500000px;}
.w0{width:612.000000px;}
.w1{width:612.500000px;}
.x0{left:0.000000px;}
.x2{left:85.559998px;}
.x6{left:101.492325px;}
.x1{left:113.119995px;}
.x4{left:144.000000px;}
.x3{left:211.500000px;}
.x5{left:378.241547px;}
.x8{left:512.400147px;}
.x7{left:516.310059px;}
.xa{left:530.250000px;}
.x9{left:542.250000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:48.000000pt;}
.fs0{font-size:48.000010pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:-0.666667pt;}
.y9{bottom:517.273315pt;}
.y8{bottom:519.833333pt;}
.y7{bottom:538.833333pt;}
.ya{bottom:549.606649pt;}
.y6{bottom:801.716878pt;}
.y5{bottom:827.333333pt;}
.y4{bottom:827.773356pt;}
.y3{bottom:849.773356pt;}
.y2{bottom:921.333333pt;}
.y1{bottom:939.333333pt;}
.h2{height:62.718750pt;}
.h3{height:62.812500pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x2{left:114.079997pt;}
.x6{left:135.323100pt;}
.x1{left:150.826660pt;}
.x4{left:192.000000pt;}
.x3{left:282.000000pt;}
.x5{left:504.322062pt;}
.x8{left:683.200195pt;}
.x7{left:688.413411pt;}
.xa{left:707.000000pt;}
.x9{left:723.000000pt;}
}
